<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/main.css" rel ="stylesheet" type="text/css"/>
    </head>

    <body>
        <header>

        </header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../index.php">eEtno</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.php">Prijava</a></li>
                </ul>
            </div>
        </nav>

        <section>
            <div class="container">
                <h1>{{ title }}</h1>
                <hr>
                <p>
                    {{ message }}
                </p>
            </div>
        </section>

        <footer>
            <div id="footer">
                <div class="container">
                        <address>
                            <strong>Hrvoje Orejaš</strong><br>
                            Kontaktirajte me: <a href="mailto:hrorejas@foi.hr" >hrorejas@foi.hr</a>
                        </address>
                        <p> Sva prava pridržana, Web dizajn i programiranje, 2014 </p>
                        <a href="">
                            <img width="88" height="31" class="validator" src="../img/validator.png" alt="validator"/>
                        </a>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img width="88" height="31" class="validator" src="http://jigsaw.w3.org/css-validator/images/vcss-blue"      alt="Valid CSS!" />
                        </a>          
                </div>
            </div>
        </footer>
    </body>
</html>
